@using Newtonsoft.Json
@using TestAppRazorMAUI.Data
@inject FetchSituations FetchAllSituations

@page "/"


@if (result?.RESPONSE?.RESULT?[0].Situation?.Length > 0)
{
	<table class="table">
		<thead>
			<p>Version: @result.RESPONSE.RESULT[0].INFO.LASTCHANGEID</p>
			<tr>
				<th>Id</th>
				<th>Meddelande</th>
				<th>Type</th>
				<th>Datum</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var situation in result.RESPONSE.RESULT[0].Situation)
			{
				@foreach (var deviation in situation.Deviation)
				{
					<tr>
						<td>@deviation.IconId</td>
						<td>@deviation.Message</td>
						<td>@deviation.MessageCode</td>
						<td>@deviation.CreationTime</td>
					</tr>
				}
			}
		</tbody>
	</table>
}
else
{
	<p>Inga situationer hittades</p>
}

@code {
	private Rootobject result;

	protected override async Task OnInitializedAsync()
	{
		result = FetchAllSituations.FetchAllSituations();
	}
}